@model Workplace_v2._2.Models.RegisterViewModel
@using Microsoft.AspNet.Identity
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Password)
    @Html.HiddenFor(m => m.ConfirmPassword)
    <br />
    <div class="form-group">
        <div class="row col-sm-12">
            <div class="col-sm-4">
                <i class="glyphicon glyphicon-user"></i>
                @Html.Label("FirstName", "First Name", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.Label("LastName", "Last Name", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                @Html.Label("UserName", "Username", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-4">
                <i class="glyphicon glyphicon-envelope"></i>
                @Html.Label("Email", "Email", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-4">
                <i class="glyphicon glyphicon-phone"></i>
                @Html.Label("PhoneNumber", "Phone Number", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-4">
                <panel id="panel1">
                    <i class="glyphicon glyphicon-th-list"></i>
                    @Html.Label("Department", "Department", new { @class = "control-label" })
                    @Html.DropDownList("newDepartmentId", new SelectList(Model.AllDepartments, "Value", "Text"), new { @id = "Department", @class = "form-control" })
                    <br /><br />
                </panel>
            </div>
        </div>
        <div class="col-md-offset-5 col-md-10">
            <input type="submit" class="site-button" value="Submit" />
        </div>
    </div>
}

<style>
    .col-sm-4 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .site-button {
        padding: 6px;
    }
</style>